{% extends 'main/layout.html'%}

{% block title %}MainM{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <p>В Винницу отправлен специальный борт USA, для эвакуации высокопоставленного лица. По нашим данным, борт выслан для защиты и вывоза за границу Виталия "Папич" Цаля. Именно он, по данным российской разведки, является настоящим президентом Украины. Последний комментарий Виталия на этот счёт: "гг блять, проебали с нулевой!".</p>
        <button class="btn btn-warning">To page "about"</button>
    </div>
{% endblock %}